* {
    font-family: "Gill Sans", sans-serif;
}

nav, h1, h2, ul, li {
    display: flex;
}

.header-img > img {
    height: auto;
    width: 100%;
}

.alert-info {
    display: flex;
    background-color: rgb(214, 254, 254);
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
}

.alert-info > a {
    color: #333333;
    text-decoration: none;
    margin: auto;
    padding: 1em;
    font-weight: 400;
}

h1 {
    margin: auto;
    justify-content: center;
    font-weight: 600;
    font-size: 45px;
}

.nav-links {
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
}

.nav-links > li {
    padding: 1em;
    margin-bottom: .7em;
    background-color: lightgray;
}

.nav-links > li > a {
    margin: auto;
}

.sub-section {
    font-style: italic;
    font-weight: normal;
}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .alert-info {
        display: none;
    }
/* list needs to be moved to the far right of header   */
    h1 {
        justify-content: flex-start;
    }

    .nav-links {
        flex-direction: row;
        align-items: center;
    }

    .nav-links > li {
        background-color: white;
    }


}
